.row.dataset_header_row
  .small-3.columns
    .home
      = link_to "Galter DataCat", root_path
  .small-9.columns
    = form_tag('/datasets/search', id: 'dataset_search_form') do 
      = search_field_tag 'q', params[:q], placeholder: 'Enter your search query here', class: 'special_input'
      = submit_tag "Search", type: 'submit', class: 'button'
.row
  .small-3.columns
    - unless @categories.blank?
      %table{ class: 'categories' }
        %thead
          %tr
            %th
              Categories
        %tbody
          - @categories.each do |c|
            - selected = (params[:category].to_s == c)
            - cls = selected ? 'selected_category category' : 'category'
            %tr{ class: cls }
              %td
                - path = selected ? datasets_path(organization_id: params[:organization_id]) : datasets_path(organization_id: params[:organization_id], category: c)
                = link_to(c, path)

    - unless @organizations.blank?
      %table{ class: 'organizations' }
        %thead
          %tr
            %th
              Organizations
        %tbody
          - @organizations.each do |o|
            - selected = (params[:organization_id] == o.id.to_s)
            - cls = selected ? 'selected_organization organization' : 'organization'
            %tr{ class: cls }
              %td
                - path = selected ? datasets_path(category: params[:category]) : datasets_path(organization_id: o.id, category: params[:category])
                = link_to(o.name, path)

  = render 'results'
