= simple_form_for @dataset do |f|
  = f.input :title,
    error: 'Please enter a title',
    input_html: { class: 'required' },
    required: true,
    inline_label: true

  = f.input :description,
    placeholder: 'e.g. Some useful notes about the data',
    inline_label: true

  = f.input :grants_and_funding,
    placeholder: 'Grants and funding information',
    inline_label: true

  .field_note.text-right
    If a user does not appear in the list
    %a{ href: new_user_url }
      go here to add users by NetID

  = f.association :maintainer,
    label_method: :name,
    collection: User.all.order(:last_name),
    prompt: 'Choose a Maintainer',
    input_html: { class: 'required' },
    required: true

  = f.association :author,
    label_method: :name,
    collection: User.all.order(:last_name),
    prompt: 'Choose an Author',
    input_html: { class: 'required' },
    required: true

  = f.fields_for :dataset_organizations do |df|
    = df.label :departments, 'Departments', { class: 'select required' }
    = df.select :departments,
      options_for_select(Organization.department.order(:name).pluck(:name, :id),
        @dataset.orgs(:department).pluck(:id)),
      {}, { multiple: true, class: 'chosen-select' }

    = df.label :research_cores, 'Research Cores'
    = df.select :research_cores,
      options_for_select(Organization.research_core.order(:name).pluck(:name, :id),
        @dataset.orgs(:research_core).pluck(:id)),
      {}, { multiple: true, class: 'chosen-select' }

    = df.label :institutes_and_centers, 'Institutes and Centers'
    = df.select :institutes_and_centers,
      institutes_and_centers_select_options,
      {}, { multiple: true, class: 'chosen-select' }

  = f.association :characteristic,
    collection: Characteristic.all.order(:name),
    prompt: 'Choose a Resource Type',
    label: 'Resource Types'

  .input.select.optional.dataset_categories
    = f.label :categories, 'MeSH Categories'
    = f.select :categories, @categories, {}, { multiple: true, class: 'chosen-select' }

  .input.select.optional.dataset_fast_categories
    = f.label :fast_categories, 'FAST Categories'
    = f.select :fast_categories,
      options_for_select(@dataset.fast_categories.reject(&:blank?).map {|o| [o,o] },
        @dataset.fast_categories.reject(&:blank?)),
      {}, { multiple: true, class: 'select2' }
  
  = f.input :visibility,
    collection: Dataset::VISIBILITY_OPTIONS,
    selected: (@dataset.visibility || Dataset::PUBLIC)

  = f.input :state,
    collection: Dataset::STATE_OPTIONS,
    selected: (@dataset.state || Dataset::ACTIVE)

  = f.input :source, placeholder: 'http://example.edu/dataset.json'

  .field_note.text-right
    For more about licenses go to 
    %a{ href: 'http://licenses.opendefinition.org/', target: '_blank' }
      http://licenses.opendefinition.org/
  = f.input :license, collection: @licenses, prompt: 'Choose a License'

  = f.input :version, placeholder: '1.0'

  = f.button :submit

:javascript
    $('#dataset_fast_categories').select2({
      theme: "foundation",
      minimumInputLength: 1,
      ajax: {
        url: '/fast_subjects/suggestions',
        data: function (params) {
          var query = {
            query: params.term
          }

          return query;
        },
        processResults: function (data) {
          return {
            //FIXME We shoul link fast subjects to the actual table by id
            results: data.map(function(obj) {
              return {
                text: obj.text,
                id: obj.text
              }
            })
          }
        }
      }
    });
