.dataset_show
  .grid-x.header
    .medium-2.large-3.cell
    .medium-8.large-6.cell.text-center
      %h1
        = link_to "Galter DataCat", root_path
    .medium-2.learge-3.cell
  .grid-x.ds_title
    .small-1.cell
    .small-7.cell.author_title
      = link_to 'Back', :back
      \/
      = link_to @dataset.author.name, user_path(@dataset.author)
      \/
      = link_to @dataset.title, dataset_path(@dataset)
      = @dataset.public? ? "" : "(Private)"
    .small-3.cell.version.text-right
      = "Version #{@dataset.version}"
    .medium-1.cell
  .grid-x.ds_categories
    .medium-2.cell
    .grid-x.grid-padding-x.align-spaced.medium-8.cell.categories
      - @dataset.categories.reject { |c| c.empty? }.each do |c|
        = link_to c, datasets_path(category: c), class: "mesh button tiny"
      - @dataset.fast_categories.reject { |c| c.empty? }.each do |c|
        = link_to c, datasets_path(fast_category: c), class: "fast button tiny"
    .medium-2.cell
  .grid-x.ds_maintainer
    .medium-1.cell
    .grid-x.medium-10.cell.maint_info
      .ds_maintd_by.auto.cell
        Maintained by:
        = link_to @dataset.maintainer.name, user_path(@dataset.maintainer)
      .ds_doi.text-center.auto.cell
        - if @dataset.doi
          DOI:
          = link_to @dataset.doi, "https://doi.org/#{@dataset.doi}"
        - elsif can_edit?(@dataset) && @dataset.doi.blank?
          = link_to 'Mint DOI', mint_doi_dataset_path(@dataset),
                    :method => :post,
                    :data => { disable_with: true },
                    :class => "button tiny success"
      .ds_dist_count.text-right.auto.cell
        Distributions:
        = @dataset.distributions.count
    .medium-1.cell
  .grid-x.ds_distributions
    = render 'distributions'
  - if can_edit?(@dataset)
    .grid-x.edit_destroy
      .medium-1.cell
      .grid-x.align-center.medium-10.cell
        = link_to 'Edit', edit_dataset_path(@dataset), class: 'button warning'
        = link_to 'Destroy', [@dataset], :method => :delete,
                  :data => { :confirm => 'Are you sure?' },
                  :class => 'button alert'
      .medium-1.cell
  .grid-x.ds_about
    = render 'about'
