#dataset_show
  %p
    %b Title:
    = @dataset.title
  %p
    %b Description:
    = @dataset.description

  %p
    %b Maintainer:
    = @dataset.maintainer.try(:name)
  %p
    %b Maintainer Email:
    = @dataset.maintainer.try(:email)
  %p
    %b Author:
    = @dataset.author.try(:name)
  %p
    %b Author Email:
    = @dataset.author.try(:email)

  %p
    %b Organization:
    = @dataset.organization.try(:name)
  %p
    %b Characteristic:
    = @dataset.characteristic.try(:name)
  %p
    %b Categories:
    = @dataset.categories.reject { |c| c.empty? }.to_sentence(two_words_connector: ' & ', last_word_connector: ' & ')
    
  %p
    %b Visibility:
    = @dataset.visibility
  %p
    %b State:
    = @dataset.state
  %p
    %b Source:
    = @dataset.source

  %p
    %b License:
    = @dataset.license

  %p
    %b Version:
    = @dataset.version


  .distributions
    %b Distributions:
    - if @dataset.distributions.blank?
      %p
        %b
          No distributions exist for dataset.
    - else
      - @dataset.distributions.each do |d|
        .distribution
          = link_to d.name, dataset_distribution_path(@dataset, d)
          - if d.artifact.current_path
            %small
              = link_to '(Download)',
                        download_dataset_distribution_path(@dataset, d)
  %p

  .links
    = link_to 'Add distribution', new_dataset_distribution_path(@dataset),
              class: 'edit_link'
    - if @dataset.distributions.present? && can_edit?(@dataset)
      = link_to 'Edit', edit_dataset_path(@dataset), class: 'edit_link'
      = link_to 'Destroy', [@dataset], :method => :delete,
                :data => { :confirm => 'Are you sure?' },
                :class => 'edit_link'

    = link_to 'Back', datasets_path
