#dataset_show
  %dl#dataset_show
    %dt
      Title
    %dd
      = @dataset.title
    %dt
      Description
    %dd
      = @dataset.description
    %dt
      Grants and Funding
    %dd
      = @dataset.grants_and_funding
    %dt
      Maintainer
    %dd
      = @dataset.maintainer.try(:name)
    %dt
      Maintainer Email
    %dd
      = @dataset.maintainer.try(:email)
    %dt
      Author
    %dd
      = @dataset.author.try(:name)
    %dt
      Author Email
    %dd
      = @dataset.author.try(:email)
    %dt
      Organization
    %dd
      = @dataset.organization.try(:name)
    %dt
      Characteristic
    %dd
      = @dataset.characteristic.try(:name)
    %dt
      Categories
    %dd
      = @dataset.categories.reject { |c| c.empty? }.to_sentence(two_words_connector: ' & ', last_word_connector: ' & ')
    %dt
      Visibility
    %dd
      = @dataset.visibility
    %dt
      State
    %dd
      = @dataset.state
    %dt
      Source
    %dd
      = @dataset.source
    %dt
      License
    %dd
      = @dataset.license
    %dt
      Version
    %dd
      = @dataset.version

  .distributions
    %b Distributions:
    - if @dataset.distributions.blank?
      %p
        %b
          No distributions exist for dataset.
    - else
      - @dataset.distributions.each do |d|
        .distribution
          = link_to d.name, dataset_distribution_path(@dataset, d)
          - if d.artifact.current_path
            %small
              |
              = link_to "Download (#{number_to_human_size(d.artifact.size.to_i)})",
                        download_dataset_distribution_path(@dataset, d)
              |
              %em
                = "#{d.format} (#{d.artifact.content_type})"
  %p

  .links
    - if can_edit?(@dataset)
      = link_to 'Add distribution', new_dataset_distribution_path(@dataset),
                class: 'edit_link'
      = link_to 'Edit', edit_dataset_path(@dataset), class: 'edit_link'
      = link_to 'Destroy', [@dataset], :method => :delete,
                :data => { :confirm => 'Are you sure?' },
                :class => 'edit_link'

    = link_to 'Back', datasets_path
