= simple_form_for @user do |f|
  = f.input :username, error: 'Username is required, please enter one', disabled: true
  = f.input :email, error: 'Email is required, please enter one', input_html: { class: 'required' }, required: true
  = f.input :first_name
  = f.input :last_name

  = f.button :submit
