%header
  .grid-x
    .cell
      .top-bar
        .top-bar-left.no-bullet
          %ul.menu
            %li
              = link_to 'Home', root_path
            %li
              = link_to 'About', about_path
            %li
              = link_to 'Giving', '#'
            - if user_signed_in? && current_user.admin?
              %li
                %a{ href: '#' }
                  Admin
                %ul.menu
                  %li
                    = link_to 'Categories', categories_path
        .top-bar-right.no-bullet
          %ul.menu
            - if can_create?(Dataset)
              %li
                %a#plus_tip.has-tip{"aria-haspopup" => true, |
                  "data-disable-hover" => false, |
                  "data-tooltip" => "", |
                  :tabindex => "1", |
                  :title => "New Dataset", |
                  href: new_dataset_path } |
                  %i.fi-plus.medium
            = render 'devise/menu/login_items'
