!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= content_for?(:title) ? yield(:title) : 'Galter DataCat'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': false
    = javascript_include_tag 'application', 'data-turbolinks-track': false
    = csrf_meta_tag
  %body
    .row
      .columns
        = render 'layouts/header'
    %main
      .row
        .columns
          = render 'layouts/messages'

      .row.content
        .columns
          = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': false
