!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= content_for?(:title) ? yield(:title) : 'Galter DataCat'
    = javascript_include_tag 'application', 'data-turbolinks-track': false
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': false
    = csrf_meta_tag
  %body
    .grid-x
      .cell.heading
        = render 'layouts/header'
    %main.grid-container
      = render 'layouts/messages'

      .grid-x.grid-padding-x.content
        .cell
          = yield
